{% include base_path %}

<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5fx71wq63db&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" style="zoom:75%" async="async"></script>

<!-- 
{% if include.style == "js" %}  
<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5fx71wq63db&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" style="zoom:50%" async="async"></script>
{% elsif include.style == "hiddenpng" %}  
<div hidden class="analytics" aria-hidden="true">
  <img src='//clustrmaps.com/map_v2.png?cl=fcfafa&w=300&t=tt&d=YjVNBwxJI26Tr-MdTFSNvI8uOKdPthOM9nyaHfB5Dks&co=2e5c7c&ct=c8d0e0'/>
</div>
{% else %}
  <img src='//clustrmaps.com/map_v2.png?cl=fcfafa&w=300&t=tt&d=YjVNBwxJI26Tr-MdTFSNvI8uOKdPthOM9nyaHfB5Dks&co=2e5c7c&ct=c8d0e0'/>
{% endif %} -->