{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="http://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.linkedin %}
      <li><a href="http://linkedin.com/in/{{ site.author.linkedin }}"><i class="fab fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
    {% endif %}
    {% if site.author.googlescholar%}
      <li><a href="https://scholar.google.com/citations?user=xC3keU4AAAAJ&hl=en{{ site.author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> google scholar</a></li>
    {% endif %}
    {% if site.author.email %}
      <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i>Email</a></li>
    {% endif %}
    {% if author.cv %}
     	<li><a href="{{author.cv}}"><i class="ai ai-impactstory ai-fw"></i>CV</a></li>
    {% endif %}


    
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. </div>
